<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アカウント登録</title>
</head>
<body>
<h2>アカウント登録</h2>
<form th:action="@{register}" th:method="post">
    <label for="name">名前:</label>
    <input id="name" name="name" required type="text"><br>

    <label for="email">メールアドレス:</label>
    <input id="email" name="email" required type="email"><br>

    <label for="profile">プロフィール:</label>
    <textarea cols="50" id="profile" name="profile" rows="4"></textarea><br>

    <button type="submit">アカウント登録</button>
    <div class="pull-right">
        <a class="btn btn-link" href="/accounts">一覧画面へ</a>
    </div>
</form>
</body>
</html>
