<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="top.html" method="POST" th:action="@{/login}">
    <p th:if="${param.error != null and session.containsKey('SPRING_SECURITY_LAST_EXCEPTION')}"
       th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
    <p><label>ユーザー名：<input autofocus name="username" type="text"></label></p>
    <p><label>パスワード：<input name="password" type="password"></label></p>
    <p>
        <button>ログイン</button>
    </p>
</form>
</body>
</html>