.icon-bg {
    width: 100px;
height: 50px;
background-image: url('https://as1.ftcdn.net/v2/jpg/05/76/68/32/1000_F_576683268_bSaa6gY3gKcCrnFq7TZ85toNAKscApdm.jpg');
    background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
