.icon-bg {
    width: 100px;
height: 50px;
background-image: url('https://raw.githubusercontent.com/KoCSience/TasKaleido/master/src/main/resources/templates/assets/img/AdobeStock_246763499.jpeg');
    background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
